@import url('https://fonts.cdnfonts.com/css/courier-now');

body{
    background: #010b84;
    margin: 0px;
}

.navegacaoteste{
    background: #bbbbbb;
}

.divheader{
    position: relative;
    display: flex;
    height: 40px;
    width: 100%;
    background: #bbbbbb;
    justify-content: center;
    align-items: center;
}

.divheaderanimacao{
    display: flex;
    height: 0px;
    width: 100%;
    background: #bbbbbb;
    justify-content: left;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.divheaderanimacao p{
    display: flex;
    color: black;
    text-align: center;
    width: 100%;
    margin-top: -30px;
    padding-bottom: 2px;
    padding-top: 7px;
}

.divheaderanimacao p:hover{
    background: black;
    color: #bbbbbb;
}

.fonteprincipal{
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 18px;
    line-height: 20px;
    font-weight: 100;
    color: #DFE9EB;
}


.divpraotitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 365px;
    background: transparent;
    transition: 0.2s ease-in-out;
}


.divpraotitulomaior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 365px;
    background: transparent;
    transition: 0.2s ease-in-out;
}

.divpraotitulo .fonteprincipal{
    color: #000084;
}

.divpraotitulo:hover .fonteprincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 365px;
    background: black;
    color: #bbbbbb;
}


.div-principal{
    display: flex;
    width: 800px;
    justify-self: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.div-prontocomecar{
    display: flex;
    align-items: center;
    height: 40px;
    width: 1000px;
    background: transparent;
    border: 3px solid;
    border-color: #bbbbbb;
    flex-direction: row;
}

.div-prontocomecar .fonteprincipal-branco{
    margin-left: 20px;
    color: #DFE9EB;
    text-rendering: optimizelegibility;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-style:normal;
    font-weight: 100;
    font-size: 18px;
}

.button-mudarcor{
    margin-left: 15px;
    background: #001be0;
    padding: 5px;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-style:normal;
    font-weight: 100;
    font-size: 18px;
    color: #bbbbbb;
    cursor: pointer;;
}

.button-mudarcor:hover{
    color: white;
    background: blue;
}

.nav-bar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    margin-left: -20px;
    height: 270px;
    width: 300px;
    background: #bbbbbb;
    padding: 10px;  
    box-sizing: border-box; 
    box-shadow: 10px 10px 2px 5px black;
    position: relative;
}

.nav-bar::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid black;  
}


.nav-bar li {
    margin-right: 10px;
    margin-left: 10px;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-style:normal;
    font-weight: 100;
    font-size: 18px;
    z-index: 0;
}

.nav-bar li:hover {
    margin-right: 10px;
    background: black;
    color: #bbbbbb;
    cursor: pointer;
} 

.section-rowler{
    display: flex;
    flex-direction: row;
}

.div-seja-bem-vindo{
    display: flex;
    align-items: center;
    background: #00aaaa;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    margin-left: 35px;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-style:normal;
    font-weight: 100;
    font-size: 18px;
}

.div-seja-bem-vindo .fonteprincipal{
    margin: 20px;
    color: #000084;

}

.div-seja-bem-vindo:hover{
    background: yellow;
}

.div-columner{
    width: 90%;
}

.div-website-evolucao{
    
    display: flex;
    align-items: center;
    width: 99%;
    height: 45px;
    background: transparent;
    border: #bbbbbb solid;
    margin-top: 20px;
    margin-left: 35px;
}

.div-website-evolucao .fonteprincipal{
    margin-left: 20px;
    font-weight: 100;
    color: #DFE9EB;
}

.another-columner{
    display: flex;
    flex-direction: column;

}

.megamen-img{
    height: 200px;
    width: 250px;
    align-self: center;
}

.another-columner .fonteprincipal{
    align-self: center;
    color: #bbbbbb;
}

.input-secretcode{
    display: flex;
    align-self: center;
    background: #6767a3;
    width: 230px;
    border: 2px solid black;
}

.input-secretcode:hover{
    background: #7788fc;
    color: white;
}

.button-acessar{
    display: flex;
    align-self: center;
    justify-content: center;
    background: #6767a3;
    margin-top: 10px;
    width: 85px;
    height: 25px;
    margin-bottom: 30px;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-style:normal;
    font-weight: 100;
    font-size: 18px;

}

.button-acessar:hover{
    background: #7788fc;
    color: white;
    cursor: pointer;
}

.texto-pequeno{
    display: flex;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-style:normal;
    font-weight: 100;
    font-size: 18px;
    color: #bbbbbb;
    margin-left: 35px;
    unicode-bidi: isolate;
    width: 700px;
}

a{
    color: yellow;
    text-decoration: none;
}

a:hover{
    background: #aa5500;
}

.section-inferior{
    position: relative;
}

.imageporygon{
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 90%;
}

.section-inferior-realmenteinferior{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin-left: -100px;
     font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-style:normal;
    font-weight: 100;
    font-size: 18px;
}

.section-inferior-realmenteinferior h2{
    color: #bbbbbb;
    
}

.bottomli{
    list-style-type: none;
    margin-bottom: 40px;
    color: #bbbbbb;
}

.divinferiorrowler{
    display: flex;
    flex-direction: row;
    position: relative;
}

.divinferiorrowler p{
    position: absolute;
    top: -19px;
    right: -120px;
    color: #010b84;
    transition: 0.2s ease;
}

.divinferiorrowler p:hover{
    transform: scale(1.05);
    color: red;
    cursor: default;
}

.button-minimize{
    position: absolute;
    right: 30px;
}

.ativo{
    height: 70px;

}